<div class="score">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pontuação final: 10</ion-card-subtitle>
      <ion-card-title>Placar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
     <div class="score-board">
       <div class="score-board-box">
         <div class="score-board-player">Player</div>
         <div class="score-board-score">{{player}}</div>
       </div>
       <div class="score-board-box">
        <div class="score-board-player">Enemy</div>
        <div class="score-board-score">{{enemy}}</div>
      </div>
     </div>
    </ion-card-content>
  </ion-card>
  
</div>