<div class="score">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>JOKENPÔ</ion-card-subtitle>
      <ion-card-title>Placar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <div class="score-board">
        <app-placar-pontuacao
          [label]=player.label
          [value]=player.value
          >
        </app-placar-pontuacao>
        <app-placar-pontuacao
          [label]=enemy.label
          [value]=enemy.value
          >
        </app-placar-pontuacao>
      </div>
    </ion-card-content>
  </ion-card>
</div>